.nodm-animated-text.effect-1 .ml1 {
    font-weight: 900;
    font-size: 3.5em;
}

.nodm-animated-text.effect-1 .ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.nodm-animated-text.effect-1 .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.nodm-animated-text.effect-1 .ml1 .line {
    opacity: 1;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: 0 0;
}

.nodm-animated-text.effect-1 .ml1 .line1 {
    top: 0;
}

.nodm-animated-text.effect-1 .ml1 .line2 {
    bottom: 0;
}

/*! Effect 2 */
.nodm-animated-text.effect-2 .ml1 {
    font-weight: 900;
    font-size: 3.5em;
}

.nodm-animated-text.effect-2 .ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

/*! Effect 3 */
.nodm-animated-text.effect-3 .ml1 {
    font-weight: 900;
    font-size: 3.5em;
}

/*! Effect 4 */
.nodm-animated-text.effect-4 .ml1 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.nodm-animated-text.effect-4 .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.nodm-animated-text.effect-4 .ml1 .letter {
    display: inline-block;
    line-height: 1em;
}